---
import Layout from "../layouts/Layout.astro";
---

<Layout title="TodoMVC" which="home">
	<header>
		<section><img src="/todomvc.svg" /></section>
		<section>
			<p>This is a playful project about <a href="https://todomvc.com/">TodoMVC</a></p>
			<p><a href="https://github.com/jynxio/todomvc">Source Code</a> | Made by <a href="https://github.com/jynxio">Jynxio</a></p>
		</section>
	</header>
</Layout>

<style>
	header {
		display: flex;
		flex-direction: column;
		position: fixed;
		left: 50%;
		top: 10%;
		inline-size: 80%;
		max-inline-size: 500px;
		transform: translate(-50%);
	}

	img {
		inline-size: 100%;
	}

	p {
		font-weight: 400;
		text-align: center;
	}

	a {
		color: #9f3c3c;
		text-decoration: none;
	}

	a:hover, a:focus {
		text-decoration-line: underline;
		text-decoration-style: dashed;
	}
</style>
